@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/*font-family: 'Lato', sans-serif;*/

:root {
    --brightestBlue: #D0DFFF;
    --brightBlue : #C1D4FB;
    --midBlue : #A8C2FB;
    --darkBlue : #86ABF9;
    --darkestBlue : #6893EE;
    --white : #ffffff;
    
}

* {
    overflow-x: hidden;
    
}

body {
    padding: 0px;
    margin : 0px;
    font-family: 'Lato', sans-serif;
}

.main-navbar {
    position: sticky;
    top: 0;
    z-index:10;
}

.bg-custom {
    background-color : var(--darkestBlue);
}

.logotext {
    color : var(--white);
    font-size : 36px;
    font-weight:600;
    
}

.navigation li a {
    font-size : 32px;
}

.intro-main {
    background-color: var(--brightestBlue);
    height:100vh;
    width:100vw;
    display:flex;
    z-index:1;
    
}

.leftText {
    padding-top:30px;
    color : var(--darkBlue);
}

.leftText-title, .leftText-subtitle, .leftText-desc {
    font-weight :800;
}

.leftText-btn button:hover {
    color: var(--darkestBlue);
    background-color: var(--white);
}



.footer {
    width :100vw;
    height : 75vh;
    background-color: var(--darkestBlue);
}

.footer-img {
    width :180px;
    height : 180px;
}

.footer-logo-title {
    color: var(--white);
    font-weight: 800;
    font-size: 64px;
}

.footer-logo-desc {
    color: var(--white);
    font-weight: 800;
    font-size:36px;
}

.alamat, .telp, .fax {
    color: var(--white);
    font-weight:400;
    font-size: 24px;
}

.main-body {
    width: 100vw;
    height : 100vh;
    background-color: var(--brightestBlue);
    z-index:5;
}

.form-title {
    font-size: 48px;
    

}

.form-text {
    font-size : 24px;
    color : var(--darkestBlue) !important;
}

@media only screen and (min-width:992px) {
    .leftText {
        margin-left: 10vw;
    }

    .leftText-title {
        font-size: 64px; 
    }
    
    .leftText-subtitle {
        font-size : 36px;
    }
    
    .leftText-desc {
        font-size : 24px;
    }
    
    .leftText-btn button {
        border: none;
        background-color : var(--darkestBlue);
        border-radius : 40px;
        color : var(--white);
        width:381px;
        height:92px;
        text-align: center;
        color : var(--white);
        font-size: 48px;
        font-weight : 700;
        margin : 30px 0px;
    }





}

@media only screen and (max-width:991px) {


}





